@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom scrollbar styling for WebKit browsers */
.scrollbar-style::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #333; /* Set the color of the thumb */
  border-radius: 6px; /* Set the border-radius of the thumb */
}

.scrollbar-style::-webkit-scrollbar-track {
  background-color: #201e1e; /* Set the color of the track */
  border-radius: 6px; /* Set the border-radius of the track */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
